@media (min-height: 1300px){
	
	#field{
		top: calc(50% - 625px);
		left: calc(50% - 625px);
	}
	
	.field{
		width: 1250px;
		height: 1250px;
	}
	
	.cell{
		width: 35px;
		height: 35px;
	}
	
}

@media (max-height: 800px){
	
	#field{
		top: calc(50% - 325px);
		left: calc(50% - 325px);
	}
	
	.field{
		width: 650px;
		height: 650px;
	}
	
	.cell{
		width: 25px;
		height: 25px;
	}
	
}

@media (max-height: 700px){
	
	#field{
		top: calc(50% - 300px);
		left: calc(50% - 300px);
	}
	
	.field{
		width: 601px;
		height: 601px;
	}
	
	.cell{
		width: 23px;
		height: 23px;
	}
	
}


